.git
.github
.superpowers
.claude
docs/
example/
bin/
dist/
web/node_modules
web/dist
internal/webassets/dist/*
!internal/webassets/dist/index.html
.dmox/
config.yaml
config.docker-example.yaml
docker-compose.yml
docker-compose.override.yml
*.md
